In [1]:
import pandas as pd
from pycaret.classification import *
from sklearn.metrics import confusion_matrix

In [2]:
clean_data = pd.read_csv('../data/use/data_dropout_59-64(clean_GER).csv')

In [4]:
clean_data['STUDY_STATUS_map'] = clean_data['STUDY_STATUS'].replace('E','R')

In [7]:
clean_data.to_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep)',index=False)

In [5]:
clean_data_ = pd.read_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep).csv')

In [60]:
clean_data_.columns

Index(['ADMIT_YEAR', 'MAJOR_ID', 'DEPT_ID', 'DEGREE_ID', 'STUDY_STATUS',
       'STUD_BIRTH_PROVINCE_ID', 'INSTITUTION_PROVINCE_ID', 'ENG_SCORE',
       'CAMPUS_ID', 'IS_GRAD_IN_COURSE', 'เกรดปี1เทอม1', 'เกรดปี1เทอม2',
       'เกรดปี2เทอม1', 'เกรดปี2เทอม2', 'เกรดปี3เทอม1', 'เกรดปี3เทอม2',
       'เกรดปี4เทอม1', 'เกรดปี4เทอม2', 'GPA_SCHOOL', 'STUDY_STATUS_map'],
      dtype='object')

In [62]:
clean_data_ = clean_data_.drop(['ADMIT_YEAR','IS_GRAD_IN_COURSE'],axis=1)

In [63]:
clean_data_.columns

Index(['MAJOR_ID', 'DEPT_ID', 'DEGREE_ID', 'STUDY_STATUS',
       'STUD_BIRTH_PROVINCE_ID', 'INSTITUTION_PROVINCE_ID', 'ENG_SCORE',
       'CAMPUS_ID', 'เกรดปี1เทอม1', 'เกรดปี1เทอม2', 'เกรดปี2เทอม1',
       'เกรดปี2เทอม2', 'เกรดปี3เทอม1', 'เกรดปี3เทอม2', 'เกรดปี4เทอม1',
       'เกรดปี4เทอม2', 'GPA_SCHOOL', 'STUDY_STATUS_map'],
      dtype='object')

In [64]:
clean_data_.to_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep_use).csv')

In [66]:
clean_data_[clean_data_['STUDY_STATUS'] == 'E']

,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,เกรดปี1เทอม1,เกรดปี1เทอม2,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map
0,225,31,228.0,E,61,52,52.00,1,2.97,2.30,2.97,3.36,3.60,3.90,3.83,4.00,3.32,R
5,225,31,228.0,E,64,64,37.00,1,2.34,2.25,1.65,1.90,2.63,2.63,3.23,3.46,3.71,R
6,220,29,223.0,E,63,63,24.00,1,2.90,2.22,3.04,2.50,0.00,2.67,3.17,3.00,3.72,R
14,215,30,218.0,E,62,62,35.00,1,2.40,2.52,2.42,2.86,3.38,0.00,4.00,0.00,3.36,R
20,240,34,243.0,E,62,62,28.00,1,3.36,2.95,3.09,3.90,3.38,0.00,3.75,0.00,3.79,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1113,214,28,211.0,E,55,62,36.25,1,3.75,3.38,0.00,0.00,0.00,0.00,0.00,0.00,3.46,R
1114,226,31,239.0,E,62,62,57.50,1,4.00,3.82,0.00,0.00,0.00,0.00,0.00,0.00,3.45,R
1115,216,30,242.0,E,62,54,46.25,1,3.26,3.78,0.00,0.00,0.00,0.00,0.00,0.00,2.85,R
1116,216,30,242.0,E,54,54,26.25,1,3.00,2.97,0.00,0.00,0.00,0.00,0.00,0.00,3.09,R
1118,226,31,239.0,E,60,56,33.75,1,3.34,3.36,0.00,0.00,0.00,0.00,0.00,0.00,3.70,R

In [11]:
test = clean_data_.sample(n=int(0.3*1190),random_state=10)
train = clean_data_.drop(test.index)

In [83]:
test.to_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep_use_test).csv',index=False)
train.to_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep_use_train).csv',index=False)

In [80]:
test = pd.read_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep_test).csv')
train = pd.read_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep_train).csv')

In [84]:
test = pd.read_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep_use_test).csv')
train = pd.read_csv('../data/use/use_in/data_dropout_59-64(final_model_GRE_map_E_to_R_keep_use_train).csv')

In [82]:
test = test.drop(['IS_GRAD_IN_COURSE','ADMIT_YEAR'],axis=1)
train = train.drop(['IS_GRAD_IN_COURSE','ADMIT_YEAR'],axis=1)

In [85]:
train

,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,เกรดปี1เทอม1,เกรดปี1เทอม2,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map
0,225,31,228.0,E,61,52,52.00,1,2.97,2.30,2.97,3.36,3.60,3.90,3.83,4.00,3.32,R
1,215,30,218.0,G,64,64,20.00,1,2.39,2.80,2.17,2.42,2.68,3.00,4.00,0.00,3.62,G
2,220,29,223.0,G,60,54,39.00,1,2.00,2.88,2.75,3.00,3.13,2.93,3.50,0.00,3.05,G
3,215,30,218.0,G,62,62,37.00,1,2.62,2.15,2.02,2.02,3.07,2.50,3.15,3.80,3.79,G
4,225,31,228.0,E,64,64,37.00,1,2.34,2.25,1.65,1.90,2.63,2.63,3.23,3.46,3.71,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,214,28,211.0,E,55,62,36.25,1,3.75,3.38,0.00,0.00,0.00,0.00,0.00,0.00,3.46,R
758,226,31,239.0,E,62,62,57.50,1,4.00,3.82,0.00,0.00,0.00,0.00,0.00,0.00,3.45,R
759,216,30,242.0,E,54,54,26.25,1,3.00,2.97,0.00,0.00,0.00,0.00,0.00,0.00,3.09,R
760,200,193,200.0,R,57,57,28.75,1,2.40,3.60,0.00,0.00,0.00,0.00,0.00,0.00,3.87,R
761,226,31,239.0,E,60,56,33.75,1,3.34,3.36,0.00,0.00,0.00,0.00,0.00,0.00,3.70,R

In [86]:
test

,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,เกรดปี1เทอม1,เกรดปี1เทอม2,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map
0,216,30,242.0,G,52,52,38.00,1,3.18,2.67,2.70,2.47,2.97,3.05,3.57,3.81,3.55,G
1,240,34,243.0,G,58,58,0.00,3,3.19,3.26,2.97,3.25,2.96,4.00,3.83,0.00,3.25,G
2,240,34,243.0,E,62,62,43.75,1,2.94,2.54,3.30,3.35,3.50,3.40,0.00,0.00,2.92,R
3,226,31,239.0,G,62,53,35.00,1,3.03,1.80,1.86,2.18,2.21,2.55,3.16,3.73,3.33,G
4,203,193,254.0,E,60,56,23.75,1,1.67,1.07,0.00,0.00,0.00,0.00,0.00,0.00,2.97,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,240,34,243.0,R,62,62,21.00,1,1.50,2.02,2.25,2.08,2.75,2.77,2.85,2.86,2.86,R
353,230,32,233.0,G,62,62,29.00,1,2.09,1.36,3.00,2.07,1.22,2.29,2.28,2.58,3.63,G
354,250,33,238.0,E,54,62,66.25,1,2.40,3.23,1.91,2.87,2.92,0.00,0.00,0.00,3.10,R
355,235,33,240.0,G,71,62,28.00,1,2.50,1.60,1.90,2.85,3.15,2.72,3.35,3.43,3.49,G
356,200,193,0.0,E,62,62,31.25,1,3.27,2.84,2.78,3.20,0.00,3.36,0.00,0.00,2.67,R

In [87]:
use_train = train.drop(['STUDY_STATUS'],axis=1)

In [88]:
use_train.columns

Index(['MAJOR_ID', 'DEPT_ID', 'DEGREE_ID', 'STUD_BIRTH_PROVINCE_ID',
       'INSTITUTION_PROVINCE_ID', 'ENG_SCORE', 'CAMPUS_ID', 'เกรดปี1เทอม1',
       'เกรดปี1เทอม2', 'เกรดปี2เทอม1', 'เกรดปี2เทอม2', 'เกรดปี3เทอม1',
       'เกรดปี3เทอม2', 'เกรดปี4เทอม1', 'เกรดปี4เทอม2', 'GPA_SCHOOL',
       'STUDY_STATUS_map'],
      dtype='object')

In [42]:
#n_feature = train.columns.drop(['STUDY_STATUS','STUDY_STATUS_map']).tolist()

In [93]:
s_drop_IS_GRAD_IN_COURSE_drop_YEAR = setup(use_train,target='STUDY_STATUS_map')

In [34]:
s = setup(use_train,target='STUDY_STATUS_map')

In [94]:
models_drop_IS_GRAD_IN_COURSE_drop_YEAR = compare_models()

In [35]:
models_drop_IS_GRAD_IN_COURSE = compare_models()

In [111]:
models = compare_models()

In [64]:
#use_test = test.drop(['STUDY_STATUS'],axis=1)

In [65]:
#use_test

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,IS_GRAD_IN_COURSE,เกรดปี1เทอม1,เกรดปี1เทอม2,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map
22,2559,216,30,242.0,52,52,38.00,1,N,3.18,2.67,2.70,2.47,2.97,3.05,3.57,3.81,3.55,G
943,2561,240,34,243.0,58,58,0.00,3,Y,3.19,3.26,2.97,3.25,2.96,4.00,3.83,0.00,3.25,G
855,2561,240,34,243.0,62,62,43.75,1,N,2.94,2.54,3.30,3.35,3.50,3.40,0.00,0.00,2.92,R
250,2559,226,31,239.0,62,53,35.00,1,N,3.03,1.80,1.86,2.18,2.21,2.55,3.16,3.73,3.33,G
1093,2564,203,193,254.0,60,56,23.75,1,N,1.67,1.07,0.00,0.00,0.00,0.00,0.00,0.00,2.97,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2559,240,34,243.0,62,62,21.00,1,N,1.50,2.02,2.25,2.08,2.75,2.77,2.85,2.86,2.86,R
240,2559,230,32,233.0,62,62,29.00,1,Y,2.09,1.36,3.00,2.07,1.22,2.29,2.28,2.58,3.63,G
954,2562,250,33,238.0,54,62,66.25,1,N,2.40,3.23,1.91,2.87,2.92,0.00,0.00,0.00,3.10,R
193,2559,235,33,240.0,71,62,28.00,1,Y,2.50,1.60,1.90,2.85,3.15,2.72,3.35,3.43,3.49,G
822,2561,200,193,0.0,62,62,31.25,1,N,3.27,2.84,2.78,3.20,0.00,3.36,0.00,0.00,2.67,R

In [98]:
predictions_drop_IS_GRAD_IN_COURSE_drop_YEAR = predict_model(models_drop_IS_GRAD_IN_COURSE_drop_YEAR,data=test)

In [112]:
predictions = predict_model(models,data=test)

In [ ]:
predictions_IS_GRAD_IN_COURSE = predict_model(models_drop_IS_GRAD_IN_COURSE,data=test)

In [99]:
confusion_drop_IS_GRAD_IN_COURSE_drop_YEAR  = confusion_matrix(y_true=predictions_drop_IS_GRAD_IN_COURSE_drop_YEAR['STUDY_STATUS_map'],y_pred=predictions_drop_IS_GRAD_IN_COURSE_drop_YEAR ['prediction_label'],labels=['R','G'])

In [100]:
confusion_drop_IS_GRAD_IN_COURSE_drop_YEAR

array([[128,  18],
       [  7, 204]])

In [37]:
conn = confusion_matrix(y_true=predictions_IS_GRAD_IN_COURSE['STUDY_STATUS_map'],y_pred=predictions_IS_GRAD_IN_COURSE['prediction_label'],labels=['R','G'])

In [38]:
conn

array([[127,  19],
       [ 11, 200]])

In [113]:
con = confusion_matrix(y_true=predictions['STUDY_STATUS_map'],y_pred=predictions['prediction_label'],labels=['R','G'])

In [114]:
con

array([[134,  12],
       [  7, 204]])

In [121]:
print('all =',94.68,'%')
print('rt =',50/54*100,'%')
print('gt =',204/211*100,'%')

all = 94.68 %
rt = 92.5925925925926 %
gt = 96.6824644549763 %

In [51]:
# drop_IS_GRAD_IN_COURSE
print('all     =>',91.60,'%')
print('rt      =>',45/54*100,'%')
print('et      =>',82/92*100,'%')
print('et + rt =>',127/146*100,'%')
print('gt      =>',200/211*100,'%')

all     => 91.6 %
rt      => 83.33333333333334 %
et      => 89.13043478260869 %
et + rt => 86.98630136986301 %
gt      => 94.7867298578199 %

In [55]:
# drop_IS_GRAD_IN_COURSE_drop_YEAR
print('drop_IS_GRAD_IN_COURSE_drop_YEAR')
print('all     =>',92.44,'%')
print('rt      =>',45/54*100,'%')
print('et      =>',81/92*100,'%')
print('et + rt =>',126/146*100,'%')
print('gt      =>',204/211*100,'%')

drop_IS_GRAD_IN_COURSE_drop_YEAR
all     => 92.44 %
rt      => 83.33333333333334 %
et      => 88.04347826086956 %
et + rt => 86.3013698630137 %
gt      => 96.6824644549763 %

In [128]:
#predictionss[(predictionss['STUDY_STATUS'] == 'R') & (predictionss['prediction_label'] == 'G')]

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,IS_GRAD_IN_COURSE,...,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map,prediction_label,prediction_score
9,2560,240,34,243.0,R,59,59,0.00,3,N,...,1.12,2.05,0.97,1.50,2.88,3.29,3.37,R,G,0.8646
208,2561,240,34,243.0,R,64,64,0.00,3,N,...,1.14,1.22,2.00,1.53,1.32,1.71,2.21,R,G,0.5692
237,2560,240,34,243.0,R,64,54,0.00,3,N,...,1.30,1.67,1.65,1.84,2.00,1.07,2.90,R,G,0.8220
244,2561,235,33,240.0,R,64,64,23.75,1,N,...,1.91,3.02,2.09,4.00,3.58,0.00,2.98,R,G,0.9465
247,2559,215,30,218.0,R,60,56,21.00,1,Y,...,3.47,3.27,3.47,0.00,3.73,0.00,3.77,R,G,0.9614
352,2559,240,34,243.0,R,62,62,21.00,1,N,...,2.25,2.08,2.75,2.77,2.85,2.86,2.86,R,G,0.5681

In [115]:
predictions[(predictions['STUDY_STATUS'] == 'R') & (predictions['prediction_label'] == 'G')]

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,IS_GRAD_IN_COURSE,...,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map,prediction_label,prediction_score
9,2560,240,34,243.0,R,59,59,0.0,3,N,...,1.12,2.05,0.97,1.50,2.88,3.29,3.37,R,G,0.9484
208,2561,240,34,243.0,R,64,64,0.0,3,N,...,1.14,1.22,2.00,1.53,1.32,1.71,2.21,R,G,0.5894
237,2560,240,34,243.0,R,64,54,0.0,3,N,...,1.30,1.67,1.65,1.84,2.00,1.07,2.90,R,G,0.8487
247,2559,215,30,218.0,R,60,56,21.0,1,Y,...,3.47,3.27,3.47,0.00,3.73,0.00,3.77,R,G,0.9143

In [117]:
predictions[(predictions['STUDY_STATUS'] == 'G') & (predictions['prediction_label'] == 'G')]

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,IS_GRAD_IN_COURSE,...,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map,prediction_label,prediction_score
0,2559,216,30,242.0,G,52,52,38.0,1,N,...,2.70,2.47,2.97,3.05,3.57,3.81,3.55,G,G,0.7997
1,2561,240,34,243.0,G,58,58,0.0,3,Y,...,2.97,3.25,2.96,4.00,3.83,0.00,3.25,G,G,0.9925
3,2559,226,31,239.0,G,62,53,35.0,1,N,...,1.86,2.18,2.21,2.55,3.16,3.73,3.33,G,G,0.9631
7,2559,225,31,228.0,G,62,62,26.0,1,Y,...,2.30,3.08,0.13,2.50,1.82,1.67,3.88,G,G,0.9975
8,2559,250,33,238.0,G,62,62,39.0,1,Y,...,2.20,1.34,2.42,0.75,2.69,0.96,2.51,G,G,0.5997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,2560,215,30,218.0,G,54,54,35.0,1,Y,...,2.00,2.41,3.20,3.13,3.50,3.50,3.28,G,G,0.9986
350,2560,215,30,218.0,G,53,53,40.0,1,Y,...,2.86,2.10,2.58,2.65,2.81,0.00,3.08,G,G,0.9988
351,2559,216,30,242.0,G,62,62,43.0,1,Y,...,2.80,2.56,2.97,2.19,2.86,3.25,3.80,G,G,0.9982
353,2559,230,32,233.0,G,62,62,29.0,1,Y,...,3.00,2.07,1.22,2.29,2.28,2.58,3.63,G,G,0.9970
355,2559,235,33,240.0,G,71,62,28.0,1,Y,...,1.90,2.85,3.15,2.72,3.35,3.43,3.49,G,G,0.9933

In [42]:
predictions_IS_GRAD_IN_COURSE[(predictions_IS_GRAD_IN_COURSE['STUDY_STATUS'] == 'E') & (predictions_IS_GRAD_IN_COURSE['prediction_label'] == 'R')]

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,เกรดปี1เทอม1,...,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map,prediction_label,prediction_score
2,2561,240,34,243.0,E,62,62,43.75,1,2.94,...,3.30,3.35,3.50,3.40,0.0,0.00,2.92,R,R,0.9846
4,2564,203,193,254.0,E,60,56,23.75,1,1.67,...,0.00,0.00,0.00,0.00,0.0,0.00,2.97,R,R,0.9951
5,2560,200,193,0.0,E,62,62,50.00,1,2.44,...,0.00,0.00,0.00,0.00,0.0,0.00,2.52,R,R,0.9976
25,2561,200,193,0.0,E,62,62,63.75,1,3.50,...,1.65,1.58,2.41,3.04,0.0,0.00,3.63,R,R,0.9986
27,2561,200,193,0.0,E,60,60,40.00,1,2.52,...,3.80,3.22,4.00,3.90,0.0,0.00,3.32,R,R,0.9978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2559,240,34,243.0,E,63,63,25.00,1,3.20,...,2.71,2.65,0.00,3.18,0.0,0.00,2.23,R,R,0.9904
342,2563,230,32,233.0,E,62,62,41.25,1,1.07,...,0.00,0.00,0.00,0.00,0.0,0.00,3.08,R,R,0.9900
347,2559,200,193,0.0,E,64,64,33.00,1,1.84,...,2.05,2.36,1.78,2.43,3.0,3.21,3.30,R,R,0.9515
354,2562,250,33,238.0,E,54,62,66.25,1,2.40,...,1.91,2.87,2.92,0.00,0.0,0.00,3.10,R,R,0.9944
356,2561,200,193,0.0,E,62,62,31.25,1,3.27,...,2.78,3.20,0.00,3.36,0.0,0.00,2.67,R,R,0.9967

In [57]:
predictions_drop_IS_GRAD_IN_COURSE_drop_YEAR[(predictions_drop_IS_GRAD_IN_COURSE_drop_YEAR['STUDY_STATUS'] == 'G') & (predictions_drop_IS_GRAD_IN_COURSE_drop_YEAR['prediction_label'] == 'R')]

,ADMIT_YEAR,MAJOR_ID,DEPT_ID,DEGREE_ID,STUDY_STATUS,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,เกรดปี1เทอม1,...,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2,GPA_SCHOOL,STUDY_STATUS_map,prediction_label,prediction_score
8,2559,250,33,238.0,G,62,62,39.00,1,2.11,...,2.20,1.34,2.42,0.75,2.69,0.96,2.51,G,R,0.75
18,2559,250,33,238.0,G,58,58,23.00,1,3.75,...,3.60,3.72,2.92,3.82,3.70,4.00,3.01,G,R,0.53
77,2560,250,33,238.0,G,62,62,33.75,1,0.00,...,2.00,2.63,3.00,2.16,2.33,3.75,2.65,G,R,0.59
126,2560,240,34,243.0,G,54,54,0.00,3,2.23,...,1.10,1.06,0.53,0.75,0.54,0.28,3.55,G,R,0.81
168,2559,240,34,243.0,G,5,62,25.00,1,2.26,...,1.11,1.52,1.40,1.85,1.25,2.25,2.91,G,R,0.57
176,2561,240,34,243.0,G,5,5,35.00,1,2.41,...,1.90,2.62,2.19,2.44,3.16,0.00,3.08,G,R,0.57
217,2559,240,34,243.0,G,5,5,36.00,1,2.39,...,2.63,3.25,3.57,3.54,3.79,0.00,3.21,G,R,0.52

In [58]:
save_model(models,'model_top_no_STILL_STUDENT_2Class_map_E_to_R_drop_IS_GRAD_IN_COURSE_drop_YEAR')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('clean_column_names',
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+'))),
                 ('label_encoding',
                  TransformerWrapperWithInverse(exclude=None, include=None,
                                                transformer=LabelEncoder())),
                 ('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     includ...
                                                               missing_values=nan,
                                                               strategy='mean',
                                                               verbose='deprecated'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude=None, include=[],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='most_frequent',
                                                               verbose='deprecated'))),
                 ('trained_model', <function models at 0x7fdaf95957e0>)],
          verbose=False),
 'model_top_no_STILL_STUDENT_2Class_map_E_to_R_drop_IS_GRAD_IN_COURSE_drop_YEAR.pkl')