In [115]:
import pandas
from pycaret.classification import *

In [116]:
model = load_model('model/model_top_no_STILL_STUDENT_2Class_map_E_to_R_last_final')

Transformation Pipeline and Model Successfully Loaded

In [117]:
model.feature_names_in_

['MAJOR_ID',
 'DEPT_ID',
 'DEGREE_ID',
 'STUD_BIRTH_PROVINCE_ID',
 'INSTITUTION_PROVINCE_ID',
 'ENG_SCORE',
 'CAMPUS_ID',
 'เกรดปี1เทอม1',
 'เกรดปี1เทอม2',
 'เกรดปี2เทอม1',
 'เกรดปี2เทอม2',
 'เกรดปี3เทอม1',
 'เกรดปี3เทอม2',
 'เกรดปี4เทอม1',
 'เกรดปี4เทอม2',
 'STUDY_STATUS_map']

In [118]:

data = ['0215', '030', '218', '53', '62', 41.00, '01', 0, 0, 0, 0, 0, 0, 0, 0]
x = dict()
n = 0
for i in model.feature_names_in_[:-1]:
    x[i] = data[n]
    n+= 1
df = pandas.DataFrame(columns=model.feature_names_in_[:-1])
df = df.append(x, ignore_index=True)
df
# model.predict(df)

,MAJOR_ID,DEPT_ID,DEGREE_ID,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,เกรดปี1เทอม1,เกรดปี1เทอม2,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2
0,0215,030,218,53,62,41.0,01,0,0,0,0,0,0,0,0

In [119]:
data = ['ตรัง', 'ตรัง', 14, 3.2, 'วิทยาเขตหาดใหญ่', 'วิศวกรรมอุตสาหการ', 'ภาควิชาวิศวกรรมอุตสาหการ', 0, 'ยังไม่มี', 'ยังไม่มี', 'ยังไม่มี', 'ยังไม่มี', 'ยังไม่มี', 'ยังไม่มี', 'ยังไม่มี']
print(len)
pandas.DataFrame([data],columns=model.feature_names_in_[:-1])

<built-in function len>

,MAJOR_ID,DEPT_ID,DEGREE_ID,STUD_BIRTH_PROVINCE_ID,INSTITUTION_PROVINCE_ID,ENG_SCORE,CAMPUS_ID,เกรดปี1เทอม1,เกรดปี1เทอม2,เกรดปี2เทอม1,เกรดปี2เทอม2,เกรดปี3เทอม1,เกรดปี3เทอม2,เกรดปี4เทอม1,เกรดปี4เทอม2
0,ตรัง,ตรัง,14,3.2,วิทยาเขตหาดใหญ่,วิศวกรรมอุตสาหการ,ภาควิชาวิศวกรรมอุตสาหการ,0,ยังไม่มี,ยังไม่มี,ยังไม่มี,ยังไม่มี,ยังไม่มี,ยังไม่มี,ยังไม่มี

In [120]:
model.feature_names_in_[:-1]

['MAJOR_ID',
 'DEPT_ID',
 'DEGREE_ID',
 'STUD_BIRTH_PROVINCE_ID',
 'INSTITUTION_PROVINCE_ID',
 'ENG_SCORE',
 'CAMPUS_ID',
 'เกรดปี1เทอม1',
 'เกรดปี1เทอม2',
 'เกรดปี2เทอม1',
 'เกรดปี2เทอม2',
 'เกรดปี3เทอม1',
 'เกรดปี3เทอม2',
 'เกรดปี4เทอม1',
 'เกรดปี4เทอม2']